<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Мой первый сайт</title>
</head>
<body>
<div class="card">
    <div class="foto">
        <img src="../static/image/Jack_Sparrow.jpg">
    </div>
    <div class="info_1">
        <h1>Капитан Джек Воробе́й</h1>
        <p>Капитан Джек Воробе́й (англ. Captain Jack Sparrow) — главный герой киносерии «Пираты Карибского моря», созданный сценаристами Тедом Эллиотом и Терри Россио.</p>
        <p>Роль исполняет Джонни Депп.</p>
    </div>
    <div class="info_2">
        <p>Впервые он появляется в фильме «Пираты Карибского моря: Проклятие Чёрной жемчужины» (2003), затем — в фильмах «Пираты Карибского моря: Сундук мертвеца» (2006), «Пираты Карибского моря: На краю света» (2007), «Пираты Карибского моря: На странных берегах» (2011) и «Пираты Карибского моря: Мертвецы не рассказывают сказки» (2017).</p>

    </div>
</div>

</body>
</html>